body {
    padding: 20px;
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    text-align: center;
}

h2 {
    display: inline-block;
    margin-right: 20px;
}

table, th, td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
}

.hide {
    display: none;
}