html {
    background-image: linear-gradient(#3b1858, #f7277e);
    background-attachment: fixed;
}

body {
    padding: 20px;
}

#container {
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

header {
    text-align: center;
}

nav {
    background-color: #3b1858;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

h1 {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

#standings {
    float: left;
    width: 50%;
    border: 2px solid #3b1858;
}

#top-scorers {
    float: right;
    width: 50%;
    border: 2px solid #3b1858;
}

nav a:hover {
    background-color: white;
}

nav a:hover h1 {
    color: #3b1858;
}

table, th, td {
    padding: 10px;
}

tr {
    border-bottom: 0.5px solid;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
}

#team-logo {
    height: 35px;
    margin-right: 20px;
}

#pl-logo {
    width: 80%;
}

#team-name {
    display: flex;
    align-items: center;
    text-align: left;
}