* {
    box-sizing: border-box;
}

:root {
    --color:#3b1858;
    --font: sans-serif;
}

html {
    background-image: linear-gradient(var(--color), #f7277e);
    background-attachment: fixed;
}

body {
    padding: 20px;
}

#container {
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

header {
    text-align: center;
}

nav {
    background-color: var(--color);
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

h1 {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    font-family: var(--font);
}

#standings {
    float: left;
    width: 50%;
    border: 2px solid var(--color);
}

#top-scorers {
    float: right;
    width: 50%;
    border: 2px solid var(--color);
}

nav a:hover ,
.selectedLink {
    background-color: white;
    color: var(--color);
}

table, th, td {
    padding: 10px;
}

tr {
    border-bottom: 0.5px solid;
}

h4 {
    margin-top: -10px;
    background-color: white;
}

#qualifications-border {
    border-bottom: 2px solid;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    font-family: var(--font);
}

#team-logo {
    height: 35px;
    margin-right: 20px;
}

#pl-logo {
    width: 80%;
}

#team-name {
    display: flex;
    align-items: center;
    text-align: left;
}